@charset "UTF-8";



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
}

aside{
    width: 110px;
    height: 100vh;
    background-color: black;
    box-sizing: border-box;
}

div{
    width: 90%;
    padding-right: 5px;
}


header{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
}
header h1{
    min-width: 180px;
    font-size: 40px;
    margin-left: -75px;
    color: white;
}
header h1 span{
    color: black;
}

header img{
    max-width:80px;
    margin-left: -50px;
}


main div{
    padding: 0; 
    width: 100%;
    height: 15%;
    margin-bottom: 10px;
}

main div p{
    padding-left: 15px;
    height: 30%;
    font-size: 14px;
}

 
.chapter{
    background-color: black;
    color: white;
    height: auto;
    text-align: center;
    margin-left:5px ;
}


/* 
 section ol{
    width: auto;
 } */


 @media(min-width:400px){
    
    div main{
        height: 80%;
    }
    main div{
        height: 8%;
        width: 50%;
        margin-bottom: 20px;
    }
    main div p{
        padding-left: 15px;
        height: 50%;
        font-size: 20px; 
    
    }
}