@charset "UTF-8";



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
}
body div{
    width: 100%;
   
}

aside{
    margin-right: 15px;
    width:10% ;
    height: 100vh;
    background-color: black;

}

header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width:1000px ;
}
header h1{
    padding: 20px;
    margin: 10px;
    color: white;
}
header h1 span{
    color: black;
}

main {
    margin: 0;
    width: 99%;
    height: 86%;
    background-image:url('imagens/imagemCentral.avif');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
}
main div{
    padding-bottom: 10px;
    margin-bottom:10px ;
}
main div p{
    
    margin-left:50px
}

.chapter{
    background-color: black;
    color: white;
    width: 22%;
    height: auto;
    text-align: center;
}
