@charset "UTF-8";



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
}

aside{
    width: 110px;
    height: 100vh;
    background-color: black;
    box-sizing: border-box;
}
aside nav{
    padding: 20px;
    margin-top: 110px;
}
aside nav img{
    padding: 10px;
}

div{
    width: 90%;
    padding-right: 5px;
}


header{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
}
header h1{
    min-width: 180px;
    font-size: 40px;
    margin-left: -75px;
    color: white;
}
header h1 span{
    color: black;
}

header img{
    max-width:80px;
    margin-left: -50px;
}
main{
    height: 80%;
}
main div{
    width: 100%;
    padding-top: 5px;
}

main p{
    padding-left: 10px;
    font-size: 13px;
}

main section ol{
    padding-left: 30px;
}
main section ol ul{
    padding-left:5% ;
}
main div section{
    width: 100%;
}
main div section ul {
    padding-left: 30px;
}
.chapter{
    background-color: black;
    color: white;
    height: auto;
    text-align: center;
    margin-left:5px ;
    margin-bottom: 5px  ;
}
.tematy{
    text-decoration:underline;
}


 @media(min-width:400px){
    
    main{
        height: 80%;
    }

   main p{
        
        padding-left: 30px;
        font-size: 20px;
    }
    .chapter{
        font-size: 30px;
        width: 150px;
        margin: 15px;
    }
    main div{
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-image: url("imagens/image-central.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 500px;
    }
    main div section {
        width: 180px;
    }
    main section ol li{
        font-size: 20px ;
    }
    main section ul{
        padding-left: 10px;
        font-size: 20px ;
    }

    
    
    
}